/* ФАЙЛ ОБНУЛЕНИЯ СТИЛЕЙ ПО AROKEN */
/* Отличия Reset.css от Normalize.css в том что reset жестко все сбрасывает и стили надо писать самому, normalize.css не сбрасывает а нормализуются, то есть приводятся к стандартому виду во всех браузеров, что позволяет не писать все стили занова, например часто все заголовки жирного шрифта и это уже не надо писать, а то что нужно изменить это можно перекрыть своими стилями 

В head самым первым прописать <link rel="stylesheet" href="styles/reset.css">
дальше подключаем другие стили 
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Russian not work</title>
   <link rel="stylesheet" href="styles/reset.css">
</head>
*/

* {
   padding: 0;
   margin: 0;
   border: 0;
}

*, *:before, *:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus, :active {
   outline: none;
}

a :focus, a :active {
   outline: none;
}

nav, footer, header, aside {
   display: block;
}

html, body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input, button, textarea {
   font-family: inherit;
}

input ::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button ::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a, a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
   font-size: inherit;
   font-weight: inherit;
}

a {
   color: inherit;
}