
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.window {
  background-color: lightcyan;
  border: 1px solid black;
  padding: 1em 3em;
}

.cover {
  background-color: rgb(158 158 158 / 68%);
  position: absolute;
  /* top: 0;
  left: 0;
  bottom: 0;
  right: 0; */
  inset: 0;
}

.hidden {
  display: none;
}