@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body{
   margin: 0;
   padding: 0;
   font: 14px/21px Arial, sans-serif;
   background: #262626;;
}

.container{
   position: static; /* нужен ли сдвиг???? */
   width: 960px;
   margin: 0 auto ;
   padding: 0;
}

header{
   display: flex;
   flex-direction: column;
}

.row{
   display: flex;
   flex-direction: row;
   align-items: center;   /*выравнивание по вертикали для заголовка h1*/
   /* justify-content: left; */
}
.col{
   display: block;
}

.logo-img{
   -webkit-filter: drop-shadow( 2px -2px 8px #ffffff );
   filter: box-shadow( 2px 2px 8px #ffffff );
   margin-left: 40px;
   margin-right: 60px;
}


.col>h1{
	font-family: "Montserrat", Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 48px;
	line-height: 1.5; /* межстрочный интервал */
	letter-spacing: 0.02em; /* расстояние между буквами */

   color: #eeeeee;
}
.col>h3{
	font-family: "Montserrat", Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 32px;
	line-height: -0.03;
	letter-spacing: -0.02em;

   color: #eeeeee;
}


/* меню навигации */
nav {
   display: block;
}
ul{
   list-style: none outside; /* не использовать маркер при написании списка */
}
nav ul li {
   font-family: "Montserrat", Arial, sans-serif;
   font-weight: bold; /* жирный шрифт */
   display: inline;  /* вывод в строку списка меню */
   padding-left: 24px;
   text-transform: uppercase; /*перевод букв в верхний регистр */
   font-size: 12px;
   letter-spacing: 0.09em;
}
nav ul li a{
   color: #70c9ef;
   text-decoration: none; /*убрать подчеркивание ссылок */
}
nav ul li a:hover{
   color: #eeeeee;
}


/* основное окно main */
.main{
   display: flex;
   margin: 30px 0;
}
.wrap-img-content{
   flex-wrap: wrap;

}
.wrap-img-content img{
   margin: 20px 10px;
   width: 460px;
   height: 345px;
}





footer {
   display: flex;
   align-items:flex-start;
   /* align-self: center; */
}
footer ul li{
   display: inline;
   align-items: сenter;
   font-family: "Montserrat", Arial, sans-serif;
	font-weight: 400;
   font-style: normal;
   font-size: 16px;
   line-height: 1.2;
   color: #eeeeee;
}









/* разделительная линия  */
hr{
   display: flex;
   border: solid #555555;
   border-width: 1px 0 0;
   clear: both;  /* запрещает обтекание плавающих элементов с обеих сторон */
   margin: 0 0 0;
   height: 0;
}





.right-location{
   justify-content: flex-end;

}

.blue-line{
   background-color: #70c9ef;
   height: 3px;
   margin-bottom: 30px;
}